<div class="skin0{{skin_level}}"></div>
<div class="brain0{{brain_level}}"></div>
<div class="strength0{{strength_level}}"></div>
<div class="heart0{{heart_level}}"></div>
<div class="eyes0{{eyes_level}}"></div>
<div class="face0{{face_level}}"></div>
<div class="teeth0{{teeth_level}}"></div>
<div class="fatness0{{fatness_level}}"></div>
<div class="immunity0{{immunity_level}}"></div>
