<ul>
  <% if(eyes) { %>
    <li class="eyes">
      <img src="/img/icons/eye-sight.png" alt="Eye sight" />
      <h2>Eye Sight</h2>
      <h3 class="score <%= eyes < 0 ? 'negative' : '' %>"><%= eyes %></h3>
    </li>
  <% } %>

  <% if(heart) { %>
    <li class="heart">
      <img src="/img/icons/heart.png" alt="Heart" />
      <h2>Heart</h2>
      <h3 class="score"><%= heart %></h3>
    </li>
  <% } %>

  <% if(brain) { %>
    <li class="brain">
      <img src="/img/icons/brain.png" alt="Brain" />
      <h2>Brain</h2>
      <h3 class="score"><%= brain %></h3>
    </li>
  <% } %>

  <% if(height) { %>
    <li>
      <img src="/img/icons/height.png" alt="Height" />
      <h2>Height</h2>
      <h3 class="score"><%= height %></h3>
    </li>
  <% } %>

  <% if(immunity) { %>
    <li class="immunity">
      <img src="/img/icons/immunity.png" alt="Immunity" />
      <h2>Immunity</h2>
      <h3 class="score"><%= immunity %></h3>
    </li>
  <% } %>

  <% if(teeth) { %>
    <li class="teeth">
      <img src="/img/icons/badteeth.png" alt="Teeth" />
      <h2>Bad teeth</h2>
      <h3 class="score <%= parseInt(teeth) < 0 ? 'negative' : '' %>"><%= teeth %></h3>
    </li>
  <% } %>

  <% if(strength) { %>
    <li class="strength">
      <img src="/img/icons/strength.png" alt="Strength" />
      <h2>strength</h2>
      <h3 class="score"><%= strength %></h3>
    </li>
  <% } %>

  <% if(fatness) { %>
    <li class="fatness">
      <img src="/img/icons/fat.png" alt="Fatness" />
      <h2>Fat</h2>
      <h3 class="score"><%= fatness %></h3>
    </li>
  <% } %>
</ul>
