<h4 class="modal-title">Tesco Carrots Loose</h4>
<div class="powers">
  {{> powers}}
</div>
<a href="#/evolve" class="btn btn-primary">Feed me!!</a>
<a href="#/" class="btn btn-default">Scan another</a>
